<div class="center jumbotron">
  <h1>Welcome to Watch This!</h1>
  <h2>
Wherein you answer a few simple questions and get back a sensible film recommendation.
  </h2>
  <p><%= link_to "Get started.", new_recommendation_url %></p>
</div>
