<footer class="footer">
  <small>
    <a href="#">Jellyvision</a>
    Apprentice Dev Project - <a href="#">Nick Christiny</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="#">More</a></li>
    </ul>
  </nav>
</footer>
